<section class="banner-sec">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6">
                <div class="banner-content">
                    <h1>
                        Find the best borrowing option for your needs
                    </h1>
                    <h2 class="sub-title">
                        Borrow from $5,000 to $100,000.
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="home-bg-mobile">
     <picture class="d-md-none">
                        	<source type="image/webp" srcset="images/home-bg-mobile.webp">
                            <img src="images/home-bg-mobile.png" alt="logo" class="img-fluid"/>
    </picture>
    </div>
    
</section>