 <!-- page banner section desgin start -->

 <section class="faq-main pg-banner">
   <div class="comman-block">
     <div class="product-img">
       <div class="row m-0 justify-content-end">
         <div class="col-md-12 col-lg-7 p-0">
           <div class="product-img top-img d-none d-lg-block">
             <div class="main-img">
               <picture>
                 <source srcset="images/faq-bg.webp" type="image/webp"/>
                 <img src="images/faq-bg.png" alt="product" class="img-fluid">
               </picture>
             </div>
           </div>
           <div class="d-block d-lg-none">
             <picture>
               <source srcset="images/faq-bg-mobile.webp" type="image/webp"/>
               <img src="images/faq-bg-mobile.png" alt="product" class="img-fluid w-100">
             </picture>
           </div>
         </div>
       </div>
     </div>
     <div class="details-content">
       <div class="container">
         <div class="row">
           <div class="col-lg-6 col-md-12">
             <div class="contact-detail faq-details">
               <h1>Acceptance is here to answer all your questions</h1>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
   <div class="faq-section">
     <div class="container">
       <h4 class="mb-4">Here are a few that are asked most often:</h4>
       <div class="faq-card mt-4">
         <h3>Why should I work with Acceptance Financial?</h3>
         <p>Acceptance offers a simple, straightforward process combined with years of expertise. We focus on each customer as an individual, and determine options suited to the needs and goals of that person. We can help you tackle debt or expenses and achieve financial freedom faster. </p>
       </div>
       <div class="faq-card">
         <h3>How does debt consolidation work?</h3>
         <p>Acceptance offers a simple, straightforward process combined with years of expertise. We focus on each customer as an individual, and determine options suited to the needs and goals of that person. We can help you tackle debt or expenses and achieve financial freedom faster. </p>
       </div>
       <div class="faq-card">
         <h3>What are the advantages of using a loan to consolidate debt?</h3>
         <p>Acceptance offers a simple, straightforward process combined with years of expertise. We focus on each customer as an individual, and determine options suited to the needs and goals of that person. We can help you tackle debt or expenses and achieve financial freedom faster. </p>
       </div>
       <div class="faq-card">
         <h3>How can Acceptance help me with credit card debts?</h3>
         <p>Acceptance offers a simple, straightforward process combined with years of expertise. We focus on each customer as an individual, and determine options suited to the needs and goals of that person. We can help you tackle debt or expenses and achieve financial freedom faster. </p>
       </div>
       <div class="faq-card">
         <h3>How will my rate and term be determined?</h3>
         <p>Acceptance offers a simple, straightforward process combined with years of expertise. We focus on each customer as an individual, and determine options suited to the needs and goals of that person. We can help you tackle debt or expenses and achieve financial freedom faster. </p>
       </div>
     </div>
   </div>
 </section>
 
 <div class="position-relative">
     <section class="questions-section p-md-5 p-4">
         <div class="container">
             <p><b>If you have further questions,</b> please contact us at <nobr><a href="tel:(800) 410-5845">(800) 410-5845</a></nobr> or email <nobr><a href="mailto:hello@acceptanceteam.com">hello@acceptanceteam.com</a></nobr></p>
         </div>
     </section>
 </div>

 <script asp-add-nonce="true">
  document.querySelectorAll('.faq-card').forEach((card) => {
    card.addEventListener('click',(e)=> {
      e.stopPropagation();
      e.currentTarget.classList.toggle('closed');
    })
  })
 </script>
<style asp-add-nonce="true">
   
</style>