    <footer>
      <div div class="container">
        <div class="f-top">
          <div class="row justify-content-between align-items-center">
            <div class="col-xl-3 col-lg-2 col-md-6 h-100">
              <a href="#" class="f-logo d-block text-lg-center text-start">
                <picture>
                   <source type="image/webp" srcset="images/logo.svg">
                  <img
                    src="images/logo.svg"
                    alt="logo"
                    class="img-fluid"/>
                  </picture>
              </a>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 h-100">
              <div class="f-block">
                <div class="d-flex">
	                <ul class="f-list me-5">
                    <li><a href="about-us">About Us</a></li>
		                <li><a href="personalloans">Personal Loans</a></li>
		                <li><a href="apply">See Your Offer</a></li>
		                <li><a href="faqs">FAQs</a></li>
	                </ul>
                  <ul class="f-list">
	                  <li><a href="contact-us">Contact Us</a></li>
		                <li><a href="careers">Careers</a></li>
	                  <li><a href="terms-conditions">Terms of Use</a></li>
	                  <li><a href="privacy-policy">Privacy Policy</a></li>
                  
	                </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-6 h-100">
              <div class="f-block text-center">
                <h2>Accreditation</h2>
	              <a href="https://www.bbb.org/us/ca/irvine/profile/financial-services/acceptance-financial-1126-1000105517"><img
                  src="images/accreditation.svg"
                  alt="accreditation"
                  class="acc-img img-fluid"
                /></a>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="f-block info">
	              <p>Phone: (800) 410-5845</p>
	              <p>Email: hello@acceptanceteam.com</p>
	              <p>Address: 530 Technology, Suite 100/200, Irvine, CA 92618</p>
	              
              </div>
              </div>
            </div>
          </div>
        </div>
	    <div class="f-bottom container text-center text-md-start">
		    <p>&copy; 2024 Edge Capital Systems, LLC. All Rights Reserved.</p>
		    <p>Edge Capital Systems, LLC, DBA Acceptance Financial is Utah-licensed and conducts consumer lending or related activities under the Utah Department of Financial Institutions, Title 70C Consumer Credit Code, as required by law, with its main office located at 530 Technology, Suite 100/200, Irvine, CA 92618, telephone number: (800) 410-5845. This site is directed at and made available to persons in the continental U.S., Alaska, and Hawaii only. Loans are not available in all states. Annual Percentage Rates (APRs) range from 6.95% APR to 35.99% APR, with the lowest rates for the most creditworthy borrowers. Rates are subject to change daily. Minimum loan amount is $5,000.00. Maximum loan amount is $100,000.00. Loans are funded through a third party. Edge Capital Systems, LLC, DBA Acceptance Financial has no control over participating third-party lender creditworthiness eligibility criteria. Eligibility is not guaranteed and requires that you meet credit and other conditions, including: (a) you are continuing to meet the criteria for this prescreened offer; (b) your credit report, application and credit history meet our pre-established credit criteria; (c) your monthly debt-to-income ratio; and (d) your employment status. Personal loan offers provided to customers who originated via paid Google or Bing advertisement feature rate quotes on Edge Capital Systems, LLC, DBA Acceptance Financial of no greater than 35.99% APR with terms from 61 days to 180 months. Your actual rate depends upon credit score, loan amount, loan term, and credit usage and history and will be agreed upon between you and the lender. An example of total amount paid on a personal loan of $10,000 for a term of 36 months at a rate of 10% would be equivalent to $11,616.12 over the 36-month life of the loan. All loans may be subject to origination fees ranging from 1%–5% of the loan amount, if permitted under applicable state law.
		    </p>
		    <p>We will never discriminate based on race, color, religion, sex, marital status, national origin, or ancestry.
		    </p><p>For additional loan options, please call <a href="(800) 410-5845">(800) 410-5845</a>.
		    </p>
      </div>
    </footer>

<style asp-add-nonce="true">

    footer {
    	 background-color: #f2f4f5;
    	 padding: 60px 0;
    	 position: relative;
    }
     /*footer::before {
    	 position: absolute;
    	 content: '';
    	 left: 0;
    	 right: 0;
    	 top: 0;
    	 height: 29px;
    	 width: 100%;
    	 background: #54D6FB;
    	 box-shadow: 0px 3px 6px #194546 1A;
    }*/
     footer .f-list {
    	 margin: 0;
    	 padding: 0;
    	 list-style: none;
    }
    .copyright-footer {
            font-size: 15px;
        text-align: center;
        margin-top: 15px;
 	   color: #0a210f;
 	   display: block !important;
     }
    .me-5 {
    		margin-right: 2.0rem!important;
    	}
    footer .f-list li a {
        font-size: 16px;
        line-height: 20px;
        color: #0a210f;
        font-family: 'Poppins';
        transition: all .3s ease-in-out;
        text-wrap: nowrap;
    }
     footer .f-block {
    	 padding: 18px 0 15px 19px;
    }

     footer .f-block h2 {
    	 font-size: 16px;
    	 color: #003046;
    	 font-weight: 700;
    	 font-family: 'Poppins';
    }
     footer .f-block p {
    	 font-size: 18px;
    }
        .f-block.info p {
        font-weight: normal;
        	font-size: 16px;
        }
     footer .acc-img {
    	 margin-top: 24px;
    }
     footer .icon {
    	 margin-right: 9px;
    }
     footer .icon:last-child {
    	 margin-right: 0;
    }
     footer .f-bottom {
    	 border-top: 1px solid #acd2ed;
    	 border-bottom: 1px solid #acd2ed;
    	 margin-top: 35px;
    	 padding: 20px 0;
    }
    footer .f-bottom p {
        font-size: 12px;
        line-height: 19px;
    }
   
     footer .f-bottom p a {
    	 color: #000;
    	 transition: all 0.5s ease-in-out;
    }
     footer .f-bottom p a:hover {
    	 color: #5f2f90;
    }
     footer .f-bottom p:last-child {
    	 margin: 0;
    }
     footer .f-top .row [class*=col-] {
    	 position: relative;
    }
     footer .f-top .row [class*=col-]::after {
    	 position: absolute;
    	 content: '';
    	 left: 0;
    	 right: 0;
    	 top: 0;
    	 bottom: 0;
    	 background-color: #acd2ed;
    	 width: 1px;
    	 height: 100%;
    	 overflow: hidden;
    }
     footer .f-top .row [class*=col-]:first-child::after {
    	 display: none;
    }
     @@media (max-width: 1499px) {
    	 footer .f-block {
    		 padding: 18px 0 15px 20px;
    	}
    }
     @@media (max-width: 1199px) {
    	 footer {
    		 padding: 95px 0 55px;
    	}
    	 footer .f-block {
    		 padding: 18px 0 15px 10px;
    	}
    }
     @@media (max-width: 991px) {
    	 footer {
    		 padding: 50px 0 55px;
    	}
    	 footer .f-top .row [class*=col-] {
    		 margin-bottom: 20px;
    	}
    	 footer .f-top .row [class*=col-]:nth-child(3)::after {
    		 display: none;
    	}
    	 footer .f-bottom {
    		 margin-top: 15px;
    		 padding: 10px 0 0;
    	}
    	 footer .f-block {
    		 padding: 18px 0 15px 0px;
    	}
    }
     @@media (max-width: 767px) {
    	 footer {
    		 padding: 32px 20px 30px;
    	}
    	 footer p {
    		 font-size: 12px;
    		 line-height: 17px;
    	}
    	 footer .f-top {
    		 padding: 40px 0px 10px;
    	}
    	 footer .f-top .f-logo img {
    		 width: 166px;
    	}
    	 footer .f-top .logo {
    		 text-align: center;
    		 display: flex;
    		 justify-content: center;
    	}
    	 footer .f-list {
    		 margin-right: 23px;
    	}
    	 footer .f-list:last-child {
    		 margin-right: 0;
    	}
    	 footer .f-bottom {
    		 margin-top: 0;
    		 padding: 21px 0px 21px;
    		 border-bottom: 1px solid #acd2ed;
    	}
    	 footer .f-block {
    		 margin-left: 0;
    		 padding: 21px 0 18px 10px;
    	}
    	 footer .f-block p {
    		 padding: 9px 0 0;
    	}
    	 footer .f-block h2 {
    		 margin: 0;
    	}
    	 footer .f-logo {
    		 margin-bottom: 18px;
    	}
    	 footer .f-top .row [class*=col-] {
    		 margin-bottom: 0;
    	}
    	 footer .f-top .row [class*=col-]::after {
    		 width: 100%;
    		 height: 1px;
    	}
    	 footer .f-top .row [class*=col-]:nth-child(3)::after {
    		 display: block;
    	}
    }
     
</style>