<section class="pg-banner about-us">
    <div class="comman-block">
        <div class="product-img">
            <div class="row m-0">
                <div class="col-lg-8 col-md-12 p-0">
                    <div class="product-img top-img">
                        <div class="inner-banner main-img">
                            <picture class="d-none d-md-block">
                                <source type="image/webp" srcset="images/about-bg.webp">

                                <img src="images/about-bg.png" alt="product" class="img-fluid">
                            </picture>
                            <picture class="d-md-none d-block text-center">
                                <source type="image/webp" srcset="images/about-bg-mobile.webp">
                            
                                <img src="images/about-bg-mobile.png" alt="product" class="img-fluid mobile-img">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="details-content">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-lg-8 col-md-12 ps-md-5">
                        <div class="ps-md-5 contact-detail about-details">
                            <h1 class="mb-4 ps-md-5">Reach your financial goals with Acceptance</h1>
                            <p class="ps-md-5">Acceptance Financial provides trusted solutions for individuals seeking a straightforward way to access funding. Our focus is to empower our customers to achieve financial freedom through responsible savings, budgeting and borrowing.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="unique-section p-5">
    <div class="container d-flex flex-column align-items-center text-md-start text-center">
        <h2 class="mb-4 mb-md-2">Here’s what makes us unique</h2>
        <p>We prioritize our customers. Having served thousands of borrowers with diverse needs and situations, we adhere to the following principles:</p>
        <div class="unique-checks flex-column flex-md-row d-flex col-md-12 justify-content-evenly">
            <div class="check d-flex flex-column align-items-center text-center">
                <picture>
                    <source type="image/webp" srcset="images/check.webp">

                    <img src="images/check.png" alt="check" class="img-fluid">
                </picture>
                <p>Providing simple, convenient access to personal installment loans</p>
            </div>
            <div class="check d-flex flex-column align-items-center text-center">
                <picture>
                    <source type="image/webp" srcset="images/check.webp">
            
                    <img src="images/check.png" alt="check" class="img-fluid">
                </picture>
                <p>Working to secure fair terms and the lowest fixed rate for each borrower</p>
            </div>
            <div class="check d-flex flex-column align-items-center text-center">
                <picture>
                    <source type="image/webp" srcset="images/check.webp">
            
                    <img src="images/check.png" alt="check" class="img-fluid">
                </picture>
                <p>Offering tools to assist individuals in their financial journeys</p>
            </div>
            
            <div class="check d-flex flex-column align-items-center text-center">
                <picture>
                    <source type="image/webp" srcset="images/check.webp">
            
                    <img src="images/check.png" alt="check" class="img-fluid">
                </picture>
                <p>Giving our best effort to every person seeking a solution</p>
            </div>
            
        </div>
    </div>
</section>

<section class="harness-section p-md-5 p-4 position-relative">
    <div class="container d-flex align-items-center flex-column-reverse flex-md-row">
        <div class="col-md-6 pe-md-4 text-md-start text-center">
            <h2 class="mb-4">Harness our expertise</h2>
            <p class="mb-4">The Acceptance Financial team has 30+ years of combined experience in the financial and lending industries. From personal loans to mortgage, we have the knowledge and skill set to assist with many of your financial needs. Count on us for consistency, transparency, and authenticity as we help you navigate life’s expenses and opportunities.</p>
            <h4 class="mt-5 mb-4">Explore the possibilities with Acceptance Financial</h4>
            <div class="d-flex mt-4 pt-3 flex-column flex-lg-row align-items-md-center align-items-center justify-content-md-between col-md-11">
                <a  href="apply"><button class="comman-btn yellow-btn">GET A QUOTE</button></a>
                <p class="mt-md-0 mt-4 ps-md-4">Will not impact your credit score</p>
            </div>
        </div>
        <div class="col-md-6 p-4">
            <picture>
                <source type="image/webp" srcset="images/about-harness.webp">
                <img src="images/about-harness.png" alt="check" class="img-fluid about-harness">
            </picture>
        </div>
    </div>
</section>

<div class="position-relative">
    <section class="questions-section p-md-5 p-4">
        <div class="container">
            <p class="text-center text-md-start"><b>Have questions?</b> Reach out to us at <nobr><a href="tel:(800) 410-5845">(800) 410-5845</a></nobr><br/> or email <nobr><a href="mailto:hello@acceptanceteam.com">hello@acceptanceteam.com</a></nobr></p>
        </div>
    </section>
</div>

<style asp-add-nonce="true">
.join-section {
    background-color: #e7f3fc;
    padding: 0 0 72px;
}


@@media (max-width: 1199px){
.unique .unique-people {
    top: 100px;
    right: 50px;
}
.unique .unique-people img {
    max-width: 450px;
}
}
@@media (max-width: 1399px) {
.unique .unique-people {
    top: 156px;
}
.unique .unique-people img {
    max-width: 500px;
}
}
@@media (max-width: 1499px){
.unique .unique-people {
    top: 40px;
}}
@@media (max-width: 1599px) {
.unique .unique-people {
    top: -30px;
    right: 40px;
}}
@@media (max-width: 1799px){
.unique .unique-people {
    right: 100px;
}}
.unique .unique-people {
    position: absolute;
    z-index: 99;
    top: -30px;
    right: 270px;
}
</style>