      <!-- page banner section desgin start -->
<section class="pg-banner about-us">
    <div class="comman-block">
        <div class="product-img">
            <div class="row m-0 justify-content-end">
                <div class="col-lg-12 col-md-12 p-0">
                    <div class="product-img top-img">
                        <div class="inner-banner main-img">
                            <picture class="d-none d-md-flex justify-content-end">
                                <source type="image/webp" srcset="images/loans-bg.webp">

                                <img src="images/loans-bg.png" alt="product" class="img-fluid">
                            </picture>
                            <picture class="d-md-none d-block text-center">
                                <source type="image/webp" srcset="images/loans-bg-mobile.webp">
                            
                                <img src="images/loans-bg-mobile.png" alt="product" class="img-fluid mobile-img">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="details-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12">
                        <div class="contact-detail about-details">
                            <h1 class="mb-5">See what a personal loan can help you accomplish</h1>
                            <p class="mb-5">Apply for $5,000 up to $100,000.</p>
                          <div class="d-none d-md-block">
                          <a href="apply" class="mb-3 comman-btn d-flex yellow-btn">Check My Rate</a>
                          <p class="smaller">Will not impact your credit score</p>
                          </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
      <!-- page banner section desgin end -->
  
      <!-- our-possibilities start  -->
      <section class="possibilities-section">
        <div class="container">
          <div class="possible-title">
            <div class="row justify-content-end">
              <div class="col-xxl-6  col-xl-6 col-lg-6 col-md-12">
                <div class="d-flex flex-column justify-content-center p-md-4 py-4">
                  <div class="mb-4 mt-4 mt-md-0">
                    <h2 class="p-0">Make the right choice for your life</h2>
                  </div>
                  <div class="">
                    <p>Choosing a fixed-rate personal loan is a great first step toward achieving your goals. You could consolidate and pay off your debts, have a single set monthly payment, and save thousands of dollars in interest. Or use the funds to cover any of life’s expenses and avoid higher-rate borrowing options.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- our-possibilities end  -->
      
      <section class="funding-section py-5">
        <div class="container">
          <div class="row">
            <picture class="funding-img col-md-6">
              <source type="image/webp" srcset="images/loans-funding.webp">
              <img src="images/loans-funding.png" alt="product" class="img-fluid">
            </picture>
            <div class="d-flex flex-column col-md-6 p-4 text-md-start text-center">
              <h2>Funding for what matters</h2>
              <p class="mb-5">Some common loan use examples:</p>
              <div class="d-flex funding-examples flex-wrap justify-content-center">
                <div class="example col-md-6 pe-md-5 py-md-0 py-3">
                  <h4>Bill Payment</h4>
                  <p>Cover large bills, expenses or purchases.</p>
                </div>
                <div class="example col-md-6 py-md-0 py-3">
                  <h4>Debt Consolidation</h4>
                  <p>Combine multiple debt balances to save time and money.</p>
                </div>
                <div class="example col-md-6 pe-md-5 py-md-0 py-3">
                  <h4>Travel or relocation</h4>
                  <p>Take a family vacation or fund a move with ease.</p>
                </div>
                <div class="example col-md-6 py-md-0 py-3">
                  <h4>Health Care</h4>
                  <p>Get the medical or dental care you need without worry.</p>
                </div>
              </div>
              <div class="d-flex mt-4 pt-3 flex-column flex-md-row align-items-md-center align-items-center justify-content-md-between col-md-12">
                <a  href="apply"><button class="comman-btn yellow-btn">Check My Rate</button></a>
                <div class="col-2"></div>
                <p class="mt-md-0 mt-4 smaller">Will not impact your credit score</p>
              </div>
              
            </div>
          </div>
        </div>
      </section>
  
      <section class="loan-benefits py-md-5">
        <div class="container text-center">
          <h2>Enjoy the benefits of Acceptance</h2>
          <div class="mt-4 d-flex flex-wrap flex-md-row flex-column align-items-center justify-content-center text-center">
            <div class="benefit">
              <picture class="">
                <source type="image/webp" srcset="images/check.svg">
                <img src="images/check.svg" alt="product" class="img-fluid">
              </picture>
              <p>Quick, easy 
                application</p>
            </div>
            <div class="benefit">
              <picture class="">
                <source type="image/webp" srcset="images/check.svg">
                <img src="images/check.svg" alt="product" class="img-fluid">
              </picture>
              <p>Instant approval 
                decision</p>
            </div>
            <div class="benefit">
              <picture class="">
                <source type="image/webp" srcset="images/check.svg">
                <img src="images/check.svg" alt="product" class="img-fluid">
              </picture>
              <p>Competitive 
                fixed rates</p>
            </div>
            <div class="benefit">
              <picture class="">
                <source type="image/webp" srcset="images/check.svg">
                <img src="images/check.svg" alt="product" class="img-fluid">
              </picture>
              <p>Low monthly 
                payments</p>
            </div>
            <div class="benefit">
              <picture class="">
                <source type="image/webp" srcset="images/check.svg">
                <img src="images/check.svg" alt="product" class="img-fluid">
              </picture>
              <p>No collateral or
                upfront costs</p>
            </div>
          </div>
        </div>
      </section>
      
      <section class="borrowing-section px-4 py-5">
        <div class="container text-center p-md-5">
          <h2 class="mb-4 mt-md-4">We take the worry and wait out of borrowing</h2>
          <p class="mb-md-5">Acceptance Financial offers a convenient process that’s:</p>
          <div class="mt-4 d-flex flex-column flex-lg-row justify-content-center align-items-center">
            <div class="borrowing-items d-flex flex-column flex-md-row text-md-start">
              <picture class="">
                <source type="image/webp" srcset="images/down-arrow.svg">
                <img src="images/down-arrow.svg" alt="product" class="">
              </picture>
              <div>
                <h4>Simple</h4>
                <p>Our short online application is quick and easy and it won’t affect your credit score.</p>
              </div>
              
                </div>
            <div class="borrowing-items d-flex flex-column flex-md-row text-md-start">
              <picture class="">
                <source type="image/webp" srcset="images/down-arrow.svg">
                <img src="images/down-arrow.svg" alt="product" class="">
              </picture>
              <div>
              <h4>Instant</h4>
              <p>You will receive an instant response and access to your available loan offers.</p>
              </div>
              </div>
            <div class="borrowing-items d-flex flex-column flex-md-row text-md-start">
              <picture class="">
                <source type="image/webp" srcset="images/down-arrow.svg">
                <img src="images/down-arrow.svg" alt="product" class="">
              </picture>
              <div>
              <h4>Practical</h4>
              <p>You compare and choose the option that best fits your needs and situation.</p>
              </div>
                </div>
          </div>
        </div>
      </section>
     

      <div class="d-flex mt-4 mt-md-0 pb-5 pt-3 flex-column flex-md-column align-items-md-center align-items-center justify-content-md-between col-md-12">
        <a  href="apply"><button class="comman-btn yellow-btn mb-md-4">Check My Rate</button></a>
        
        <div class="col-2"></div>
        <p class="mt-md-0 mt-4 smaller">Will not impact your credit score</p>
      </div>

      <!-- find-loan section start -->
      <!-- <section class="find-loan apply-section">
          <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="easy-apply comman-width">
                    <h2 class="section-title light-text">
                      We Make It Easy To Apply <br>
                      In Minutes:
                    </h2>
                    <ul>
                      <li>
                        <span>1</span>Check your loan options and <br>
                        available interest rate.
                      </li>
                      <li>
                        <span>2</span>Choose the loan that’s best for <br>
                        your needs.
                      </li>
                      <li>
                        <span>3</span>If approved, sign the loan <br>
                        agreement and get funds.
                      </li>
                    </ul>
                    <a href="#" class="comman-btn green-btn">Get Started</a>
                  </div>
                </div>
                <div class="col-md-6"></div>
              </div>
          </div>
      </section> -->


<style asp-add-nonce="true">
   
</style>